[Unit]
Description=Custom Jenkins Instance
After=network.target

[Service]
Type=simple

User=root

Environment=JAVA_HOME=/usr/lib/jvm/java-17-openjdk-amd64

ExecStart=/usr/bin/java \
  -Dhttps.protocols=TLSv1,TLSv1.1,TLSv1.2 \
  -Xmx{{ jenkins_xmx }} \
  -Djava.awt.headless=true \
  -DJENKINS_HOME={{ jenkinsbvk_home }} \
  -jar {{ jenkinsbvk_war_path }} \
  --logfile={{ jenkinsbvk_log_dir }}/jenkins.log \
  --webroot={{ jenkinsbvk_cache_dir }} \
  --httpPort={{ jenkinsbvk_port }} \
  --debug={{ jenkinsbvk_debug }}

Restart=on-failure

[Install]
WantedBy=multi-user.target
